numpy==1.19.2
pycocotools==2.0.2
torchvision==0.9.0
tqdm==4.59.0
seaborn==0.11.1
opencv_python==4.5.1.48
easydict==1.9
psutil==5.8.0
scipy==1.6.1
torch==1.8.0
thop==0.0.31.post2005241907
matplotlib==3.3.4
pandas==1.2.3
requests==2.25.1
coremltools==4.1
ipdb==0.13.7
motmetrics==1.2.0
onnx==1.9.0
Pillow==8.2.0
PyYAML==5.4.1
wandb==0.10.30
